.deps/
.libs/
.am/
*.o
*.obj
*.lo
*.la
*.sum
*.log
autom4te.cache/
Makefile
config.status
site.exp
/dejagnu-1.5.*/
/dejagnu-1.5.*.tar.gz
/unit
/example/calc/calc.h
/example/calc/calc
/example/calc/stamp-h1
/example/hello/hello
/example/mathhelper/libtool
/example/mathhelper/testsuite/mathhelper/divzero
/example/mathhelper/testsuite/mathhelper/testmost
